---
import Layout from '../layouts/Layout.astro';

import ApproachComponent from '../components/Approach.tsx';
---

<Layout title="Sustainability">
    <main class="pt-24 h-screen">
        <ApproachComponent client:visible/>
    </main>
</Layout>
