---
import LayoutNoScroll from '../layouts/LayoutNoScroll.astro';

import ApproachComponent from '../components/Approach.tsx';
---

<LayoutNoScroll title="Sustainability">
    <main class="pt-24 h-screen">
        <ApproachComponent client:visible/>
    </main>
</LayoutNoScroll>
