---
import Layout from "../layouts/Layout.astro";

import pdf1 from "../assets/pdf/pow.pdf";
import pdf2 from "../assets/pdf/plan-of-work-log.pdf";

---

<Layout title="Documentation Portfolio">
  <main data-scroll-container class="pb-6">
  <h1 class="text-center text-4xl pt-24">Documentation Portfolio</h1>
  <ul class="text-center pt-10 text-2xl">
    <li class="text-2xl pb-3 font-bold">Libraries Used:</li>
    <li><a href="https://www.npmjs.com/package/@astrojs/check">@astrojs/check: 0.9.4</a></li>
    <li><a href="https://docs.astro.build/en/guides/integrations-guide/react/">@astrojs/react: 3.6.2</a></li>
    <li><a href="https://docs.astro.build/en/guides/integrations-guide/svelte/">@astrojs/svelte: 5.7.3</a></li>
    <li><a href="https://docs.astro.build/en/guides/integrations-guide/tailwind/">@astrojs/tailwind: 5.1.2</a></li>
    <li><a href="https://emotion.sh/docs/introduction">@emotion/react: 11.13.5</a></li>
    <li><a href="https://emotion.sh/docs/@emotion/server">@emotion/server: 11.11.0</a></li>
    <li><a href="https://emotion.sh/docs/styled">@emotion/styled: 11.13.5 </a></li>
    <li><a href="https://mui.com/">@mui/material: 6.1.8</a></li>
    <li><a href="https://astro.build/">astro: 4.16.14</li>
    <li> <a href="https://daisyui.com/">daisyui: 4.12.14</a></li>
    <li><a href="https://locomotivemtl.github.io/locomotive-scroll/">locomotive-scroll: 4.1.4</a></li>
    <li><a href="https://react.dev/">react: 18.3.1</a></li>
    <li><a href="https://legacy.reactjs.org/docs/react-dom.html">react-dom: 18.3.1</a></li>
    <li><a href="https://react-icons.github.io/react-icons/">react-icons: 5.3.0</a></li>
    <li><a href="https://svelte.dev/">svelte: 4.2.19</a></li>
    <li><a href="https://tailwindcss.com/">tailwindcss: 3.4.13</a></li>
    <li><a href="https://www.typescriptlang.org/">typescript: 5.6.3</a></li>
  </ul>

  <div class="flex flex-row gap-2 items-center justify-center pt-10">
  <a href={pdf2} class="p-4 text-center bg-[#D6FA32] rounded-full">Plan of Work Log</a>
  <a href={pdf1} class="p-4 text-center bg-[#D6FA32] rounded-full">Copyright Checklist</a>

  </div>
</main>
</Layout>
