---
import Layout from "../layouts/Layout.astro";

import Menu from '../components/menu.svelte';
---

<Layout title="Order">
    <main class="pt-24">
        <Menu client:only="Svelte"/>
    </main>
</Layout>